header.header {
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: var(--shadow);
}

header.header h1 {
  font-size: 1.8em;
}
